* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  background: black;
  opacity: 0.99;
  border-radius: .4rem;
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  border-radius: .4rem;
  background: grey;
  opacity: .7;
}
::-webkit-scrollbar-thumb {
  border-radius: .4rem;
  background-color: black;
}